.header {
  @apply mb-4 backdrop-blur-sm fixed top-0 w-full px-2 phone:px-0 z-20;
}

.content {
  @apply container py-2  mx-auto text-white  flex items-center justify-between lg:justify-between;
}

.logoWrapper {
  @apply flex gap-x-2 items-center text-3xl tracking-widest;
}

.mainTitle {
  @apply hidden smallPhone:block;
}

.additionTitle {
  @apply hidden smallPhone:block rounded-[20px] bg-purple-900 px-4 tracking-tighter transition-all duration-1000 hover:bg-green-950;
}

.navLinks {
  @apply hidden xl:flex lg:gap-x-4 lg:text-xl;
}