@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: 'Montserrat', serif;
}
