body {
  overflow-x: hidden;
}

.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  z-index: 2;
  width: 2px;
  right: 2rem;
  top: -50px;
  bottom: -50px;
  background: white;
  display: none;
}

.line:before,
.line:after {
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  margin: 100px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.content {
  width: calc(90% - 2rem);
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  right: calc(2rem - 15px);
  /*top: 20%;*/
  transform: translateX(-50%);
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  .content {
    width: calc(50% - 2rem);
  }

  .line {
    left: calc(50% - 1px);
  }

  .bead {
    left: 50%;
  }

  .section {
    margin: 50px 0;
  }
}

@media (max-width: 799px) {
  .section:nth-child(odd) {
    flex-direction: row;
    transform: translateX(0);
  }
}
